body {
    background-image: url(background.webp) ;
    font-family: cursive;
    text-align: center;
}

.food{
    background-color: #d9fffb;
    border-radius: 30px;
    padding: 10px;
}
.setting {
    border-radius: 30px;
    padding: 10px;
    width: 1px;
    height: 1px;
    size: 1px;
    margin-left: 300px;
}

.image {
    border-radius: 30px;
    padding: 10px;
    width: 1850px;
    margin-right: 300px;
}