body{
    background-image: url(background.webp);
}
head{
    font-family:cursive;
    text-align: center;
}
body{
    font-family:cursive ;
    text-align: center;
    
}
.image{
    width: 500px;
    text-align: right;
    margin-left: 850px;
}
.Navbar{
    background-color: #d9fffb;
    border-radius: 30px;
    padding: 10px;
}

.text {
    margin-right: 250px;
    margin-top: -500px;
    font-size: 25px;
}
.title {
    font-size: 40px;
}