body{
    background-image: url(background.webp);
    font-family: cursive;
    text-align: center;
}
.name{
    background-color:  #d9fffb;
    border-radius: 30px;
    padding: 10px;
}
.Info {
    font-size: 25px;
    font-family: cursive;
}
.title {
    font-size: 30px;
    font-family: cursive;
}

.image {
    border-radius: 30px;
    padding: 10px;
    width: 1px;
    height: 1px;
    size: 1px;
    margin-left: 50px;
}